Cassandra:

pip install cql
brew install cassandra


cp /usr/local/Cellar/cassandra/3.10_1/homebrew.mxcl.cassandra.plist ~/Library/LaunchAgents/


launchctl load ~/Library/LaunchAgents/homebrew.mxcl.cassandra.plist
launchctl unload ~/Library/LaunchAgents/homebrew.mxcl.cassandra.plist
