pip install numpy
pip install -U scikit-learn
pip install tensorflow
pip install flask
pip install pandas
sudo pip install scipy
pandas
mpld3
pip install spark
pip install matplotlib
sudo pip install arrow
sudo pip install crontab
>>> import nltk
>>> nltk.download()
